.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  padding: 20px;
}

.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  height: 440px;
  background: green;
}

.cellstyle {
  position: relative;
  width: 55px;
  height: 55px;
  border: 1px solid black;
}

.stoneStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.turn {
  width: 180px;
  height: 80px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: gainsboro;
  border-radius: 50%;
}

.blackCount {
  width: 80px;
  height: 80px;
  margin-left: 100px;
  font-size: xx-large;
  color: white;
  text-align: center;
  background: black;
  border-radius: 100%;
}

.whiteCount {
  width: 80px;
  height: 80px;
  margin-right: 100px;
  font-size: xx-large;
  color: black;
  text-align: center;
  background: white;
  border: 2px solid black;
  border-radius: 100%;
}

.pass {
  position: absolute;
  right: 10%;
  bottom: 30%;
  width: 180px;
  height: 80px;
  padding: 25px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: greenyellow;
  border-radius: 50%;
  transition: background-color 0.5s;
}

.pass:hover {
  background-color: rgb(77 180 77);
}

.endgame {
  position: absolute;
  right: auto;
  bottom: auto;
  width: auto;
  height: auto;
  padding: 6%;
  font-size: xx-large;
  font-weight: bold;
  color: yellow;
  background-color: red;
  border-radius: 320%;
}

.prev {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 180px;
  height: 80px;
  padding: 25px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: gainsboro;
  border-radius: 50%;
  transition: background-color 0.5s;
}

.prev:hover {
  background-color: rgb(170 169 169);
}
